table {
    width: 30%;
    padding: 0px;
}

th {
    text-align: left;
}

tr:hover {background-color: #e59937;}

th, td {
    border-bottom: 1px solid #ddd;
}

#index_new_link {
  text-align: center;
}
